docroot/.htaccess
docroot/sites/default/settings.php
docroot/sites/default/files
docroot/sites/default/libraries
docroot/sites/default/modules
docroot/sites/default/themes
docroot/sites/default/webauth
docroot/php.fcgi
db/
